#tkr_canvas{
  padding-top: 200px;
  padding-left: 120px;
}

#content{
  color: grey;
  font-size: 1em;
  font-family: helvetica;
  padding-left: 120px;
  padding-top: 20px;
}

#messageText{
  width: 370px;
}

#messageColor{
  width: 50px;
}

#messageInterval{
  width: 50px;
}

a:visited{
  color: blue;
}

a:hover{
  color: orange;
}